.cubeContainer {
    width: 50%;
    height: 100%;
    padding-top: 25%;
    position: relative;
    float: right;
}

.cubeSpinner {
    animation-name: spincube;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
    // -webkit-perspective: 99%;
    perspective: 99%;


    div {
        box-sizing: border-box;
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid;
        background: rgba(255, 255, 255, 0.4);
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px rgb(0, 0, 0);
    }

  .face1 {
    transform: translateZ(100px);
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
  }

}

@keyframes spincube {
    from,
    to {
        transform: rotateX(-10deg) rotateY(20deg) rotateZ(30deg);

    }
    16% {
        transform: rotateY(-80deg)
    }
    33% {
        transform: rotateY(-70deg) rotateZ(50deg);
    }
    50% {
        transform: rotateY(-150deg) rotateZ(60deg);
    }
    66% {
        transform: rotateY(-230deg) rotateZ(100deg);
    }
    83% {
        transform: rotateX(95deg);

    }
}