.nav-bar {
  // border: 1px solid;
  height: 100vh;
  width: 7rem;
  background: #b7a0dc;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  .logo {
    padding: 2rem;
  }

  nav {
    // width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    align-items: center;
    gap: 2rem;

    a.active {
      svg {
        color: #e0c642;
      }
    }

    a {
      height: 2rem;
      font-size: 2rem;
      color: #000000;
      line-height: 51px;
      text-decoration: none;
      margin-bottom: -1rem;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #c73e3e;

        svg {
          // opacity: 1;
          display: none;
        }

        &:after {
          display: inline-block;
        }
      }
      &:after {
        content: "";
        font-size: 1rem;
        display: none;
        width: 100%;
        text-align: center;
        opacity: 1;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
      &:nth-child(1) {
        &:after {
          content: "HOME";
        }
      }
      &:nth-child(2) {
        &:after {
          content: "ABOUT";
        }
      }
      &:nth-child(3) {
        &:after {
          content: "CONTACT";
        }
      }
    }
  }
  .links {
    padding: 2rem;

    a {
      display: block;
      font-size: 15px;
      line-height: 16 px;
      color: #000000;
    }
  }
}

@media screen and (max-width: 550px) {
  .nav-bar {
    // border: 1px solid;
    width: 100%;
    height: 10rem;
    background: #b7a0dc;
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    .logo {
      // opacity: 0;
      display: none;
    }

    nav {
      height: 100%;
      width: 10rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4rem;

      a.active {
        svg {
          color: #e0c642;
        }
      }

      a {
        height: fit-content;
        width: fit-content;
        font-size: 4rem;
        color: #000000;
        // line-height: 51px;
        // text-decoration: none;

        i {
          transition: all 0.3s ease-out;
        }

        &:hover {
          display: inline;

          svg {
            display: inline-block;
          }
          &:after {
            // width: 100%;
            display: none;
          }
        }
      }
    }
    .links {
      display: none;
    }
  }
}
